{{!--===============MODAL GETTING MATCHED: DISPLAYING OPTIONS=========================--}}
<div id="getMatchedModal" class="modal">
    <div id="preloaderInsert">
        <div class="indeterminate"></div>
    </div>
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <h3 class="center-align">Get Matched!</h3>
                <h5 class="center-align">Choose a Craft</h5>
                {{#each crafts}}
                <div class="col s3">
                    <div onClick="handleMatching('{{this.dataValues.craft}}')" class="craftImg">
                        <img src="/assets/img/crafts/{{lowercase this.dataValues.craft}}.svg">
                        <p class="craft-title">{{this.dataValues.craft}}</p>
                    </div>
                </div>
                {{else}}
                <h3>You haven't selected any crafts!</h3>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
</div>
