<div id="setCraftModal" class="modal">
	<div class="modal-content">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h4 class="center-align">Which craft do you want to hone?</h4>
					<hr>
					<div class="row">
						{{#each data.crafts}}
						<div class="col s3">
							<div onClick="display_Craft_Add_Modal('{{this}}')" class="craftImg">
								<img src="/public/assets/img/crafts/{{lowercase this}}.svg">
								<p class="craft-title">{{this}}</p>
							</div>
							
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
	</div>
</div>