<div id="goalModal_{{userData.craft}}" class="modal goalModal">
	<div class="modal-content">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h4 class="center-align">{{craft}} Goal</h4>
					<hr>
					<form class="row" onsubmit="set_goal(event, '{{userData.craft}}')">
						<div class="col s12">
							<p>Set number of hours you want to work on {{userData.craft}}:</p>
							<p class="range-field">
								<input type="range" id="goalHours" min="0" max="30" value="15"/>
							</p>
						</div>
						<div class="col s12">
							<h5>Set a Deadline</h5>
							<p>Finish goal in: </p>
							<p>
								<input class="with-gap" name="deadline" type="radio" id="deadline1" value="1-day"/>
								<label for="deadline1">1 day</label>
							</p>
							<p>
								<input class="with-gap" name="deadline" type="radio" id="deadline2" value="1-week"/>
								<label for="deadline2">1 week</label>
							</p>
							<p>Or, Choose a date: </p>
							<input type="date" class="datepicker" id="goalDate">
						</div>
						<button type="submit" class="modal-action modal-close btn btn-large waves-effect waves-light theme-color-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
